.state_view {
    /* background-color: rgb(8, 8, 8); */
    border-radius: 3%;
    border: solid .9px #444;
    margin: 3%;
    padding: 2%;
    box-sizing: border-box;
    box-shadow: 2px 9px 9px 2px blue;
    background-color: rgba(8, 8, 8, 0.5);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(5.7px);
}